ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", GROUP="users", MODE="0666"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0004", GROUP="users", MODE="0666"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="3524", GROUP="users", MODE="0666"
